* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

body {
	font-family: Roboto, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: aliceblue;
	font-size: 1rem;
	line-height: 1.5;
	scrollbar-gutter: stable both-edges;
	position: relative;
	overflow: hidden;
}
